<div class="tc">
    <div class="flex ">
        <div class="w2 h2" style="background-color:#bfecb3;"><%= disc.nova_speed %>S</div>
        <div class="w2 h2" style="background-color:#ffcc66;"><%= disc.nova_glide %>G</div>
    </div>
    <div class="flex">
        <div class="w2 h2" style="background-color:#b9dcff;"><%= disc.nova_turn %>T</div>
        <div class="w2 h2" style="background-color:#ffff99;"><%= disc.nova_fade %>F</div>
    </div>
</div>