<div class="container">

    <%# speed #bfecb3
    glide #ffcc66
    turn #b9dcff
    fade #ffff99 %>

    <h1 class="title is-1">Disc Store</h1>
    <h5 class="subtitle is-5">Let em fly</h5>
    <div class="columns is-mobile is-multiline">

        <% @discs.each do |disc| %>

                <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
                    <%= link_to disc do %>
                        <div class="card grow pointer">
                            <div class="card-image pa3">
                                <%= image_tag disc.image %>
                            </div>
                            <div class="card-content">
                                <div class="flex">
                                    <div>
                                        <div class="flex ">
                                            <div class="w2 h2" style="background-color:#bfecb3;">1</div>
                                            <div class="w2 h2" style="background-color:#ffcc66;">1</div>
                                        </div>
                                        <div class="flex">
                                            <div class="w2 h2" style="background-color:#b9dcff;">1</div>
                                            <div class="w2 h2" style="background-color:#ffff99;">1</div>
                                        </div>
                                    </div>
                                    <h3 class="is-size-5 mt3"><%= disc.model %><h3>
                                </div>

                                <div class="tc">
                                <span class="mt3 tag is-info"><%= disc.disc_type %></span>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>

        <% end %>
    </div>
</div>
