<% @discs.each do |disc| %>
    <%= image_tag disc.image %>
    <h3><%= disc.model %><h3>
    <h4><%= disc.disc_type %></h4>

    <% disc.plastics.each do |plastic| %>
        <h6><%= plastic.name %></h6>

    <% end %>
<% end %>
