<div class="container">

    <%# speed #bfecb3
    glide #ffcc66
    turn #b9dcff
    fade #ffff99 %>

    <%# search filter partial %>
    <%= render "discs/search_filter" %>

    <div class="columns is-mobile is-multiline">
        <%= render "discs/disc_index" %>
    </div>
</div>
