<div class="flex justify-between mt5 mb3">
    <h1 class=" is-size-3">Shopping cart</h1>
    <button>Proceed to checkout</button>
</div>
<% @cart_items.each do |item| %>



    <%= render partial: "cart_items/cart_item", locals: {disc: item} %>
<% end %>

<%= link_to 'Clear cart', cart_items_clear_path, method: :post %>